html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: #FAFAFA;
}

header,
footer,
.note,
.topic {
    max-width: 45rem;
    margin: 0 auto;
    padding: 0 2rem;
}

header a,
footer a {
    color: #333;
}

header .inner {
    border-bottom: 1px dotted #CBE8E8;
    margin-bottom: 1rem;
    padding: 1rem 0;
}

footer .inner {
    border-top: 1px dotted #CBE8E8;
    padding: 1rem 0;
}

.topic,
.note {
    font-family: Georgia, serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #333;
    line-height: 1.78;
    font-size: 1.125rem;
}

.topic p,
.note p {
    margin: 0 0 1.125rem 0;
}

code {
    border-radius: 2px;
    background: #EEE;
    padding: 3px;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 2px;
}

h1 {
    text-transform: uppercase;
}

a:hover > .icon-link:after {
    content: '$'
}

.incoming-links {
    border-top: 1px dotted #CBE8E8;
}

.incoming-links h2 {
    font-size: 14px;
    text-transform: uppercase;
}