<html>
    <head>
        <title>{{ page.title }} / josh's wiki</title>
        <link href="/knowledge/theme/main.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="inner">
                <a href="/knowledge/topics/">topics</a>
            </div>
        </header>

        <div class="topic">
            {{ content }}
        </div>

        <footer>
            <div class="inner">
                <a href="https://twitter.com/joshwnj" target="_blank">&rarr; twitter</a>
            </div>
        </footer>
</html>
